{# J'indique de quel fichier j'hérite #}
{% extends 'base.html.twig' %}

{# j'utilise parent() #}
{% block title %}Question{% endblock %}

{# Puis quel block je remplace #}
{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <img src="{{ asset('images/cute_cat.jpg') }}" class="bd-placeholder-img rounded-circle" width="140"
                 height="140" style="object-fit: cover">

            <h1 class="display-5 fw-bold">{{ question.name }}</h1>

            <figure>
                <blockquote class="blockquote">

                    {{ question.question|markdown_cached }}

                </blockquote>
                <figcaption class="blockquote-footer">
                    Francis, <cite title="Source Title">{{ question.askedAt|ago }}</cite>
                </figcaption>
            </figure>

            <div class="col">
                <form action="{{ path('app_question_vote', { slug: question.slug }) }}" method="post">
                    <button class="badge bg-success" name="vote" value="up">vote up</button>
                    <button class="badge bg-danger" name="vote" value="down">vote down</button>
                    <span class="badge bg-secondary mx-3">{{ question.votesString }}</span>
                </form>
            </div>

            <h2 class="mb-3 mt-5">Il y a {{ answers|length }} réponses</h2>
            <button class="btn btn-primary mb-5">Répondre</button>
            <ul class="list-group list-group-flush">
                {% for answer in answers %}
                    <li class="list-group-item clearfix">
                        Paul : {{ answer }}

                        <div class="col float-end js-vote">
                            <button class="badge bg-success js-vote-up" data-direction="up">vote up</button>
                            <button class="badge bg-danger js-vote-down" data-direction="down">vote down</button>
                            <span class="badge bg-secondary mx-3 js-vote-total">6</span>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/question_show.js') }}"></script>
{% endblock %}

