{% extends 'base.html.twig' %}

{% block title %}Tous les utilisateurs{% endblock %}

{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-4">Tous les utilisateurs</h1>
            <p class="col-md-8 fs-4">Voilà la liste des utilisateurs actuels</p>
            <a href="{{ path('app_user_new') }}">
                <button class="btn btn-primary" type="button">Create user</button>
            </a>
        </div>
    </div>


    <div class="row">

        {% for user in users %}

            <div class="col-12">
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <div class="q-container p-4">
                        <div class="row">
                            <div class="col-2 text-center">
                                <img src="{{ asset('images/cute_cat.jpg') }}" width="100" height="100"
                                     class="bd-placeholder-img rounded-circle">
                            </div>
                            <div class="col">

                                <a href="{{ path('app_user_show', { email: user.email }) }}" type="button"
                                   class="btn btn-primary position-relative">
                                    {{ user.firstName }}

                                    {% if is_granted("USER_VIEW", user) %}
                                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                    {% endif %}

                                </a>

                                <p>{{ user.email }}</p>

                            </div>
                        </div>
                    </div>
                    <a class="btn btn-secondary w-100" href="{{ path('app_user_show', { email: user.email }) }}">
                        <i class="fa fa-magic magic-wand"></i> Voir le profil
                    </a>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}
